@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f0;
  color: #36454F;
}

.input {
  @apply border border-gray-300 rounded px-3 py-2 w-full;
}